<div class = "contact">
  <div class = "column-flex-center">
    <div class = "column-single">
      <div class = "contact-column">
        <div class = "contact-row">daniel1yuan@gmail.com</div>
        <div class = "contact-row">
          <div class = "linkContainer">
            <div class = "externalLink">
              <a id = "github"  href = "https://github.com/daniel1yuan">
              </a>
            </div>
            <div class = "externalLink">
              <a id = "linkedIn" href = "https://www.linkedin.com/in/daniel1yuan">
              </a>
            </div>
          </div> 
        </div>
      </div>
    </div>
  </div>
</div>
