<div class = "portfolio portfolio-bg">
  <div class = "column-flex-center">
    <div class = "column-50">
      <div class = "project-grid-column">
        <div class = "project-grid-row">
          <div class = "project-container">
            <div class = "project-meta">
              <div class = "project-name">Test</div>
              <div class = "project-date">May 2016</div>
            </div>
          </div>
          <div class = "project-container">
            <div class = "project-meta">
              <div class = "project-name">Test</div>
              <div class = "project-date">May 2016</div>
            </div>
          </div>
        </div>
        <div class = "project-grid-row">
          <div class = "project-container">
            <div class = "project-meta">
              <div class = "project-name">Test</div>
              <div class = "project-date">May 2016</div>
            </div>
          </div>
          <div class = "project-container">
            <div class = "project-meta">
              <div class = "project-name">Test</div>
              <div class = "project-date">May 2016</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class = "column-50 column-flex-center cta-present">
      <div class= "column row-flex-center">
        <p class = "description-text">I work on personal projects on my own time as well as doing the occasional freelance.</p>
        <a class = "cta-button cta-portfolio-button" href = "/portfolio">More Projects</a>
      </div>
    </div>
  </div>
</div>
