<div class = "portfolio">
  <div class = "column-flex-center">
    <div class = "column">
      <p>Lorem ipsum dolor sit amet, idque dolor sea te, alia stet cetero eu est, ne quod consequat signiferumque pro. Usu mentitum partiendo ea, eam eu erat legere voluptaria. No lorem suscipit imperdiet sea. Iisque dolorem constituto cu mei, his duis eligendi ei, id case mucius vidisse vim. At vim nostrum invidunt reprehendunt, sea et quis nihil dictas.
      
      No elitr lobortis corrumpit his, malorum probatus ei mei. Sed at insolens scriptorem, est appareat platonem salutatus in, ex sit tota insolens consequat. Vivendo imperdiet mea et, ea putant lobortis consequat pro. Cu vitae omnesque incorrupte qui, cum eu ridens torquatos.
      
      Pri stet deleniti invenire ne, id sed esse theophrastus. Vel quidam putant corrumpit at. Est veritus hendrerit reformidans eu, eos no suas ullum aperiam, eam et nominati tincidunt. Ut pri alia senserit ocurreret. Etiam persius adversarium cum at, duo dolorem atomorum ea, in velit tritani has.
      
      Mea graeco legendos mandamus id. Feugait consetetur eu nam, sea eu mutat velit altera. Ferri voluptua vituperata ius ne, cetero epicurei eu ius, mea timeam dolorem habemus ea. At congue tincidunt duo. Duo summo iusto ea, mea et quot iuvaret intellegat, pro meis veniam ei. Cum iusto fuisset ea, qui veritus adipiscing interpretaris an.</p>
    </div>
    <div class = "column">
      <p>Lorem ipsum dolor sit amet, idque dolor sea te, alia stet cetero eu est, ne quod consequat signiferumque pro. Usu mentitum partiendo ea, eam eu erat legere voluptaria. No lorem suscipit imperdiet sea. Iisque dolorem constituto cu mei, his duis eligendi ei, id case mucius vidisse vim. At vim nostrum invidunt reprehendunt, sea et quis nihil dictas.
      
      No elitr lobortis corrumpit his, malorum probatus ei mei. Sed at insolens scriptorem, est appareat platonem salutatus in, ex sit tota insolens consequat. Vivendo imperdiet mea et, ea putant lobortis consequat pro. Cu vitae omnesque incorrupte qui, cum eu ridens torquatos.
      
      Pri stet deleniti invenire ne, id sed esse theophrastus. Vel quidam putant corrumpit at. Est veritus hendrerit reformidans eu, eos no suas ullum aperiam, eam et nominati tincidunt. Ut pri alia senserit ocurreret. Etiam persius adversarium cum at, duo dolorem atomorum ea, in velit tritani has.
      
      Mea graeco legendos mandamus id. Feugait consetetur eu nam, sea eu mutat velit altera. Ferri voluptua vituperata ius ne, cetero epicurei eu ius, mea timeam dolorem habemus ea. At congue tincidunt duo. Duo summo iusto ea, mea et quot iuvaret intellegat, pro meis veniam ei. Cum iusto fuisset ea, qui veritus adipiscing interpretaris an.</p>
    </div>
  </div>
</div>
