<!DOCTYPE html>
<head>
	<title>Daniel Yuan</title>
    <link rel = "stylesheet" type = "text/css" href = "../static/css/landing.css" >
	<link href='https://fonts.googleapis.com/css?family=Expletus+Sans' rel='stylesheet' type='text/css'>	
</head>
<body>
	<div id = "navBar" class = "navContainer">
		<a class = "navLink" id = "aboutMe">About Me</a>
		<div class = "navLink">|</div>	
		<a class = "navLink" id = "resume">Resume</a>
		<div class = "navLink">|</div>
		<a class = "navLink" id = "Portfolio">Portfolio</a>
		<div class = "navLink">|</div>
		<a class = "navLink" id = "contact">Contact</a>
	</div>
	<div id = "aboutText">
		<h3 class = "pageTitle">About</h3>
		<p>Test</p>
	</div>
</body>
</html>
