{% extends "webapp/__base.html" %}
{% load staticfiles %}

{% block extra_head %}
  <link rel = "stylesheet" type = "text/css" href = "{% static 'webapp/css/about.css' %}" >
	<link href='https://fonts.googleapis.com/css?family=Expletus+Sans' rel='stylesheet' type='text/css'>	
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
{% endblock %}

{% block content %}
  <div class = "header">
		<div class = "navHeaderContainer">
			<a class = "navLink" id = "home" href = "/" >Home</a>
			<div class = "navLinkDivider">|</div>	
			<a class = "navLink" id = "about">About</a>
			<div class = "navLinkDivider">|</div>	
			<a class = "navLink" id = "portfolio" href = "/portfolio">Portfolio</a>
			<div class = "navLinkDivider">|</div>
			<a class = "navLink" id = "contact" href = "/contact">Contact</a>
		</div>
    <div class = "pageTitle">About</div>
  </div>
  <div class = "content">
    <div class = "textContainer">
      I'm a Junior attending University of Illinois Urbana Champaign majoring in EE in addition to a minor in CS. Currently, I've been getting a deeper look into AI, specifically computer vision. Stop reading this and <a href= "/webapp/">contact me</a>.
    </div>
  </div>
{% endblock %}
