<!doctype html>
{% load staticfiles %}
<html>
  <head>
    {% block meta_tags %}
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}

    <title>
      {% block title %}
      {{title}}
      {% endblock %}
    </title>

    {% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Lato|Source+Sans+Pro" rel="stylesheet">
    <link rel="icon" href="{% static 'webapp/assets/logo.svg' %}"/>

    <link rel = "stylesheet" type = "text/css" href = "{% static 'webapp/css/base.css' %}">

    {% endblock %}

    {% block javascript %}
    {% endblock %}

    {% block extra_head %}
    {% endblock %}

  </head>
  <body>
    {% autoescape off %}
    {% block env %}
    {% endblock %}
    {% endautoescape %}

    {% block content %}
    {% endblock %}
  </body>
</html>
