{% extends "webapp/__base.html" %}
{% load staticfiles %}

{% block extra_head %}
  <link rel = "stylesheet" type = "text/css" href = "{% static 'webapp/css/contact.css' %}" >
	<link href='https://fonts.googleapis.com/css?family=Expletus+Sans' rel='stylesheet' type='text/css'>	
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
{% endblock %}

{% block content %}
  <div class = "header">
		<div class = "navHeaderContainer">
			<a class = "navLink" id = "home" href = "/" >Home</a>
			<div class = "navLinkDivider">|</div>	
			<a class = "navLink" id = "about" href = "/about/">About</a>
			<div class = "navLinkDivider">|</div>	
			<a class = "navLink" id = "portfolio" href = "/portfolio">Portfolio</a>
			<div class = "navLinkDivider">|</div>
			<a class = "navLink" id = "contact" >Contact</a>
		</div>
    <div class = "pageTitle">Contact</div>
  </div>
  <div class = "content">
    <div class = "textContainer">
      Want to get in touch? You can reach me here:<br>
        <div class = "linkContainer">
          <div class = "externalLink">
            <a id = "github"  href = "https://github.com/daniel1yuan">
            </a>
          </div>
          <div class = "externalLink">
            <a id = "linkedIn" href = "https://www.linkedin.com/in/daniel-yuan-546144b7">
            </a>
          </div>
        </div> 
      Email: daniel1yuan@gmail.com
    </div>
  </div>
{% endblock %}
