{% load staticfiles %}
<div class = "mobile-content">
  <ul class = "mobile-site-nav">
    <li>About</li>
    <li>Portfolio</li>
    <li>Contact</li>
  </ul>
</div>
<div class = "nav-positioner">
  <div class = "nav">
      <img class = "logo" src = "{% static 'webapp/assets/logo.svg' %}"></img>
      <ul class = "site-nav">
        <li><a class = "header-link" href = "/About">About</a></li>
        <li><a class = "header-link" href = "/Portfolio">Portfolio</a></li>
        <li><a class = "header-link" href = "/Contact">Contact</a></li>
      </ul>
      <a class = "email-link" href = "mailto:daniel1yuan@gmail.com">Email</a>
      <div class = "mobile-nav">
        <span></span>
        <span></span>
        <span></span>
      </div>
  </div>
</div>
