{% load staticfiles %}
<div class = "mobile-content">
  <ul class = "mobile-site-nav">
    <li>About</li>
    <li>Portfolio</li>
    <li>Contact</li>
  </ul>
</div>
<div class = "nav-positioner">
  <div class = "nav">
      <img class = "logo" src = "{% static 'webapp/assets/logo.svg' %}"></img>
      <ul class = "site-nav">
        <li>About</li>
        <li>Portfolio</li>
        <li>Contact</li>
      </ul>
      <div class = "email-link">email</div>
      <div class = "mobile-nav">
        <span></span>
        <span></span>
        <span></span>
      </div>
  </div>
</div>
