{% extends "webapp/__base.html" %}
{% load staticfiles %}

{% block extra_head %}
  <link rel = "stylesheet" type = "text/css" href = "{% static 'webapp/css/landing.css' %}" >
	<link href='https://fonts.googleapis.com/css?family=Expletus+Sans' rel='stylesheet' type='text/css'>	
{% endblock %}

{% block content %}
	<div id = "homeContainer">
    	<div id = "name" >Daniel Yuan</div>
		<div class = "navContainer">
			<a class = "navLink" id = "about" href = "/about" >About</a>
			<div class = "navLinkDivider">|</div>	
			<a class = "navLink" id = "portfolio" href = "/portfolio">Portfolio</a>
			<div class = "navLinkDivider">|</div>
			<a class = "navLink" id = "contact" href = "/contact" >Contact</a>
		</div>
		<div class = "linkContainer">
			<div class = "externalLink">
				<a id = "github"  href = "https://github.com/daniel1yuan">
				</a>
			</div>
			<div class = "externalLink">
				<a id = "linkedIn" href = "https://www.linkedin.com/in/daniel-yuan-546144b7">
				</a>
			</div>
		</div>
	</div>
{% endblock %}
