<!DOCTYPE html>
<head>
    <title>Daniel Yuan</title>
    <link rel = "stylesheet" type = "text/css" href = "../static/css/landing.css" >
	<link href='https://fonts.googleapis.com/css?family=Expletus+Sans' rel='stylesheet' type='text/css'>	
</head>
<body>
	<div id = "homeContainer">
    	<div id = "name" >Daniel Yuan</div>
		<div class = "navContainer">
			<a class = "navLink" id = "about">About</a>
			<div class = "navLink">|</div>	
			<a class = "navLink" id = "resume">Resume</a>
			<div class = "navLink">|</div>
			<a class = "navLink" id = "portfolio">Portfolio</a>
			<div class = "navLink">|</div>
			<a class = "navLink" id = "contact">Contact</a>
		</div>
		<div class = "linkContainer">
			<div class = "externalLink">
				<a id = "github"  href = "https://github.com/daniel1yuan">
				</a>
			</div>
			<div class = "externalLink">
				<a id = "linkedIn" href = "https://www.linkedin.com/in/daniel-yuan-546144b7">
				</a>
			</div>
		</div>
	</div>
</body>
</html>
