{% extends "webapp/base.html" %}
{% load staticfiles %}

{% block extra_head %}
<!-- CSS -->
<link rel = "stylesheet" type = "text/css" href = "{% static 'webapp/css/landing.css' %}">

{% endblock %}

{% block content %}
<div id="page-container">
  <div id="content-container">
    <div id="name-container">Daniel Yuan</div>
    <div id="nav-container">
      <div class="nav-link">About</div>
      <div class="nav-divider">|</div>
      <div class="nav-link">Projects</div>
      <div class="nav-divider">|</div>
      <div class="nav-link">Contact</div>

    </div>
  </div>
</div>
{% endblock %}
