{% extends "webapp/__base.html" %}
{% load staticfiles %}

{% block extra_head %}
  <link rel = "stylesheet" type = "text/css" href = "{% static 'webapp/css/portfolio.css' %}" >
	<link href='https://fonts.googleapis.com/css?family=Expletus+Sans' rel='stylesheet' type='text/css'>	
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
{% endblock %}

{% block content %}
  <div class = "header">
		<div class = "navHeaderContainer">
			<a class = "navLink" id = "home" href = "/" >Home</a>
			<div class = "navLinkDivider">|</div>	
			<a class = "navLink" id = "about" href = "/about">About</a>
			<div class = "navLinkDivider">|</div>	
			<a class = "navLink" id = "portfolio" >Portfolio</a>
			<div class = "navLinkDivider">|</div>
			<a class = "navLink" id = "contact" href = "/contact">Contact</a>
		</div>
    <div class = "pageTitle">Portfolio</div>
  </div>
  <div class = "content">
    <div class = "textContainer">
      <p>
      <div class = "projectTitle">Reconstruct</div>
      This startup is a 3D reconstructio ncompany that takes drone images of constructure sites and reconstructs it in a web platform which aligns this point cloud with the 3D model of the building with additional task management tools. 
      </p>
      <p>
      <div class = "projectTitle">Winstagram</div>
      This was my HackIllinois 2016 project where we created the ability to determine when to post an image during a day to optimize the greatest number of likes based on the content of the image as well as audience "liking" patterns using Microsoft Azure's machine learning service.
      </p>
      <div class = "resumeContainer">
        <a href = "/resume">Resume</a>
      </div>
    </div>
  </div>
{% endblock %}
