/* CSS for header found on all pages */

/* Classes */
.page-container{
  display: flex;
  min-height: 100vh;
}

.logo{
  width: 135px;
  padding: 0 20px;
  object-fit: contain;
}

.site-nav{
  list-style: none;
  padding: 50px 20px 0 0;
  text-align: right;
}

.site-nav li{
  margin: 0 0 20px 0;
}

.email-link{
  text-align: right;
  padding: 0 20px 0 0;
}

.mobile-nav{
  display: none;
  width: 45px;
  height: 35px;
  margin: 5px 20px 0 0;
  flex-direction: column;
  justify-content: space-between;
}

.mobile-nav span{
  content: "";
  background-color: black;
  height: 3px;
  width: 100%;
  margin: 4px 0 4px 0;
  display: flex;
  transition-duration: 0.3s;
}

.mobile-nav:hover span:first-child{
  transform-origin: center;
  transform: translateY(12px) rotate(-45deg);
}

.mobile-nav:hover span:nth-child(2){
  background-color: transparent;
}

.mobile-nav:hover span:last-child{
  transform-origin: center;
  transform: translateY(-12px) rotate(45deg);
}

.mobile-content{
  width: 100%;
  position: absolute;
  padding: 85px 0 0 0;
  display: none;
  background-color: white;
  transform: translateY(-100%);
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.mobile-site-nav{
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-site-nav li{
  text-align: center;
  margin: 0 0 20px 0;
}
/* IDS */
#nav{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  width: 135px;
  background: white;
  padding: 30px 0;
}

/* Queries */
@media (max-width: 765px){
  #nav{
    width: 100vw;
    padding: 20px 0;
    flex-direction: row;
    top: auto;
    left: auto;
    bottom: auto;
    height: auto;
  }
  
  .site-nav{
    display: none;
  }

  .email-link{
    display: none;
  }

  .logo{
    height: 45px;
  }

  .mobile-nav{
    display: flex;
  }

  .mobile-content{
    display: block;
  }
}
