body, html{
  background-color: #FFFAF0;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.navHeaderContainer{
	position: absolute;
	min-width: 400px;
	min-height: 20px;
	top: 25%;
	left: 50%;
	display: block;
	text-align: center;
	transform: translate(-50%, -50%);
}

.navLink{
	font-family: 'Expletus Sans', cursive;
  font-size: 12px;
  text-align: center;
	display: inline-block;
	color: #8c8c8c;
  cursor: pointer;
}

.navLink:hover{
	color: #303030;
	text-decoration: overline;
}

.navLinkDivider{
	font-family: 'Expletus Sans', cursive;
  font-size: 12px;
  text-align: center;
	display: inline-block;
	color: #8c8c8c;
}

.header{
  position: relative;
  width: 100%;
  height: 15%;
}

.content{
  position: relative;
  width: 100%;
  height: 85%;
}

.pageTitle{
  position: absolute;
  bottom: 2%;
	font-family: 'Expletus Sans', cursive;
  font-size: 45px;
	width: 100%;
	height:30%;
  text-align: center;
  color: #303030;
	display: block;
}
