.textContainer{
  position: absolute;
  top: 5%;
  left: 25%;
  width: 50%;
  height: 90%;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.resumeContainer{
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  text-align: center;
  padding-bottom: 10px;
}

.projectTitle{
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  text-align: center;
  padding-bottom: 20px;
}
